.amountComponent {
    // height: 40px;
    margin-top: 12px;
    padding: 0px 16px !important;

    .dotAndType {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 3px 0px 0px;
        gap: 10px;

        .label {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }

        .checkedAt {
            font-weight: 600;
            font-size: 12px;
            color: var(--gray);
        }
    }

    .noticeButton {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: var(--button-text-color);
        padding: 12px;
    }

}

ion-alert {
    span {
        font-size: 16px;
        font-weight: 700;
    }

    .full {
        span {
            color: var(--light-blue);
        }
    }

    .medium {
        span {
            color: var(--light-green);
        }
    }

    .low {
        span {
            color: var(--light-orange);
        }
    }

    .none {
        span {
            color: var(--light-red);
        }
    }

}