.heart {
    display: flex;
    justify-content: center;
    align-items: center;

    .fiiled {
        animation: heartPop;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        // animation-timing-function: ;
    }

    @keyframes heartPop {
        0% {
            transform: scale(1);
        }

        60% {
            transform: scale(1.2);
        }

        85% {
            transform: scale(.9);
        }

        90% {
            transform: scale(1.05);
        }

        95% {
            transform: scale(.95);
        }

        100% {
            transform: scale(1);
        }
    }
}