.mealCard {
    .mealItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        gap: 10px;
        width: 100%;

        .dotAndName {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 10px 10px 0px;
            gap: 10px;

            .mealName {
                font-weight: 600;
                font-size: 16px;

                ion-skeleton-text {
                    height: 12px;
                    width: 80px;
                    border-radius: 8px;
                }
            }

            .likes {
                font-weight: 700;
                color: var(--light-red);
                word-spacing: -2px;

                &::before {
                    content: "+ ";
                }
                animation: heartPop;
                animation-duration: .3s;

            }
        }

    }
}

@keyframes heartPop {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.2);
    }

    85% {
        transform: scale(.95);
    }

    90% {
        transform: scale(1.05);
    }

    95% {
        transform: scale(.98);
    }

    100% {
        transform: scale(1);
    }
}

.nomeal {}