.meal {
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-top: 0px;

    .mealCard {
        background-color: var(--ion-color-light);
        border: 1px solid var(--ion-color-light-shade);
        border-radius: 8px;
        margin: 16px;
        overflow: hidden;

        .cardHeader {
            display: flex;
            justify-content: center;
            padding: 0px 18px;
            background-color: var(--ion-color-light-shade);

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.125rem;
                font-weight: 600;
                margin: 8px;
            }
        }

        .cardContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .mealItem {
                width: 100%;
                border-top: solid 1px #e3e3e3;

                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 12px;
                font-size: 1.125rem;
                font-weight: 500;
            }
        }
    }
}

.nomeal {
    background-color: var(--ion-color-light);
    border: 1px solid var(--ion-color-light-shade);
    border-radius: 8px;
    margin: 32px;
    margin-top: 16px;

    overflow: hidden;

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        font-weight: 500;
        margin: 8px;
    }
}